page-customers {

}
.searchbar-md .searchbar-input {
    background-color: #FD5C2C;
}

    
.searchbar-md {
    background: inherit !important;
    padding: 8px !important;
    margin: 2px 15px -8px 0 !important;
}
.searchbar-md .searchbar-search-icon{
	top:15px !important; 
}
