page-supplierdetail {

}
.supplier_title {
    background: linear-gradient(white,#dcd9d9);
    height: 30px;
}

.supplier_title p {
    font-size: 18px;
    padding: 5px 10px;
    margin: 0px;
}

.supplier-content {
    width: 100%;
    float: left;
    
}

.supplier-content-name {
    width: 100%;

}

.supphr{  
    margin-top: 10px;
    width: 100%;
    float: left;
}