page-custdetail {

}

.last_order p {
    font-size: medium;
    font-weight: 600;
    margin:0 0 0 0px; 
}
.linehr {
    float: left;
    width: 100%;
}
.list-order p{
    font-weight: 600;
    float:left;
    width:25%;
}
.list-order-p{
   
    float:left;
    width:100%;

}
.list-order-p p{     
    float:left;
    width:25%;
    text-align: center;
}
