page-products {

}
.main-div {
    width: 100%;
    float: left;
    padding: 2px;
}
.left-div {
    width: 20%;
    float: left;
    padding: 3px;
}
.pro-img {
    width: 50px;
    height: 50px;
    padding: 0px;
}
   
.mid-div {
    width: 60%;
    float: left;
    padding: 2px;
}
.mid-div p {
    margin: 0px 10px 2px;
    font-size: 13px;
}
.right-div {
    width: 20%;
    float: left;
}
.tag {
    width: 100%;
    float: left;
}
